*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(219, 181, 255);
    font-family: "Jersey 15", serif;
}
section{
    padding: 30px;
    align-items: center;
}
.body{
    background-color: rgba(255, 255, 255, 0.388);
    border-radius: 20px;
    padding: 20px;
}


.bar{
    margin-left: 10px;
    font-size: 19px;
}
.bar a{
    text-decoration: none;
    padding: 10px;
    color: black;
    margin: 6px;
}
.bar a:hover{
    background-color: white;
    border-radius: 10px;
}

.tittle-book {
    text-align: center;
}
.tittle-book1{
    padding: 30px;
    text-align: left;
    background-color: rgba(240, 255, 255, 0.495);
    border-radius: 20px;
}
.body-dasbord{
    padding: 30px;
    align-items: center;
    margin-top: -3%;
}
.body-dasbord1{
    background-color: rgb(209, 111, 255);
    border-radius: 40px;
    padding: 20px;
}
.input-form{
    align-items: center;
    margin-left: -2%;
    background-color: rgba(180, 180, 180, 0.616);
    width: 25%;
    height: auto;
    padding:20px;
    border-radius: 20px;
    font-family: SF Pro Display;
    margin-top: 2%;
}

.input1{
    font-family: "Jersey 15", serif;
    font-size: 18px;
}

h3{
    font-size: 40px;
}
.p1{
    text-align: center;
    font-family: "Jersey 15", serif;
    font-size: 20px;
}
.bookname{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: white;
}
.bookcode{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: white;
}
.other{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: white;
}
.enterdate{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: white;
}
.entersummary{
    border-radius: 10px;
    padding: 10px;
    border: white;
}

.button-add{
    padding: 5px;
    margin-left: -2.2%;
    margin-top: 3%;
}
.add-book{
    border-radius: 10px;
    width: 100px;
    height: auto;
    align-items: center;
    padding: 5px;
    border: rgba(255, 255, 255, 0);
    background-color: rgb(0, 139, 0);
    color: white;
    font-family: "Jersey 15", serif;
}
.add-book:hover{
    background-color: rgb(28, 183, 28);
    color: rgb(0, 0, 0);
}
.menu{
    align-items: center;
    text-align: center;
}
.p2{
    font-size: 25px;
    padding: 20px;
    background-color: rgba(180, 180, 180, 0.616);
    border-radius: 20px;
    align-items: center;
}
table{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
thead{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;

}
th{
    padding: 15px;
    text-align: center;
    align-items: center;
    border: 1px solid;
    background-color: rgb(180, 120, 236);
    margin-left: 1%;
}
.th1{
    width: 5%;
    height: auto;
}
.th2{
    width: 30%;
    height: auto;
}
.th3{
    width: 10%;
    height: auto;
}
.th4{
    width: 15%;
    height: auto;
}
.th5{
    width: 5%;
    height: auto;
    display: none;
}
.th6{
    width: 10%;
    height: auto;
}
.th7{
    width: 20%;
    height: auto;
}
td{
    padding: 15px;
    text-align: center;
    align-items: center;
    border: 1px solid;
    background-color: rgba(240, 255, 255, 0.495);
}
.action{
    padding: 10px;
}
.action1{
    margin: 5px;
    width:75px;
    height: auto;
    border: white;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 139, 0);
    padding: 5px;
    align-items: center;
}
.action1:hover{
    background-color: rgb(19, 181, 19);
    color: rgb(0, 0, 0);
    align-items: center;
}
.action2{
    margin: 5px;
    width:85px;
    height: auto;
    border: white;
    border-radius: 10px;
    background-color: rgb(165, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5PX;
    align-items: center;
}
.action2:hover{
    background-color: rgb(211, 0, 0);
    color: rgb(0, 0, 0);
    align-items: center;
}
@media screen and (max-width: 360px) {
    .input-form{
        align-items: center;
        margin-left: -15.5%;
        background-color: rgba(180, 180, 180, 0.616);
        width: 290px;
        height: auto;
        padding:20px;
        border-radius: 20px;
        font-family: SF Pro Display;
        margin-top: 2%;
        border: 5px solid ;
        font-size: 10px;
    }
}
@media screen and (max-width: 375.4px) {
    .input-form{
        align-items: center;
        margin-left: -15.5%;
        background-color: rgba(180, 180, 180, 0.616);
        width: 300px;
        height: auto;
        padding:20px;
        border-radius: 20px;
        font-family: SF Pro Display;
        margin-top: 2%;
        border: 5px solid ;
        font-size: 10px;
    }
    th{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgb(180, 120, 236);
        margin-left: 1%;
    }
    .th1{
        width: 10px;
        font-size: 10px;
    }
    .th2{
        width: 30%;
        font-size: 7px;
    }
    .th3{
        width: 10%;
        font-size: 7px;
    }
    .th4{
        width: 15%;
        font-size: 7px;
    }
    .th5{
        width: 5%;
        display: none;
        font-size: 7px;
    }
    .th6{
        width: 10%;
        font-size: 7px;
    }
    .th7{
        width: 20%;
        font-size: 7px;
    }
    td{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgba(240, 255, 255, 0.495);
    }
}
@media screen and (max-width: 390.4px) {
    .input-form{
        align-items: center;
        margin-left: -10.5%;
        background-color: rgba(180, 180, 180, 0.616);
        width: 300px;
        height: auto;
        padding:20px;
        border-radius: 20px;
        font-family: SF Pro Display;
        margin-top: 2%;
        border: 5px solid ;
        font-size: 11px;
    }
    th{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgb(180, 120, 236);
        margin-left: 1%;
    }
    .th1{
        width: 10px;
        font-size: 10px;
    }
    .th2{
        width: 30%;
        font-size: 7px;
    }
    .th3{
        width: 10%;
        font-size: 7px;
    }
    .th4{
        width: 15%;
        font-size: 7px;
    }
    .th5{
        width: 5%;
        display: none;
        font-size: 7px;
    }
    .th6{
        width: 10%;
        font-size: 7px;
    }
    .th7{
        width: 20%;
        font-size: 7px;
    }
    td{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgba(240, 255, 255, 0.495);
    }
}
@media screen and (max-width: 414.4px) {
    .input-form{
        align-items: center;
        background-color: rgba(180, 180, 180, 0.616);
        width: 280px;
        height: auto;
        padding:20px;
        border-radius: 20px;
        font-family: SF Pro Display;
        margin-top: 2%;
        border: 5px solid ;
        font-size: 12px;
    }
    th{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgb(180, 120, 236);
        margin-left: 1%;
    }
    .th1{
        width: 10px;
        font-size: 10px;
    }
    .th2{
        width: 30%;
        font-size: 7px;
    }
    .th3{
        width: 10%;
        font-size: 7px;
    }
    .th4{
        width: 15%;
        font-size: 7px;
    }
    .th5{
        width: 5%;
        font-size: 7px;
    }
    .th6{
        width: 10%;
        font-size: 7px;
    }
    .th7{
        width: 20%;
        font-size: 7px;
    }
    td{
        padding: 15px;
        text-align: center;
        align-items: center;
        border: 1px solid;
        background-color: rgba(240, 255, 255, 0.495);
    }
}